<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Noticía</title>
</head>
<body>
    <table>
      <tr>
        <td>ID</td>
        <td>Título</td>
        <td>Notícia</td>
      </tr>
        <tr>
          <td><%= noticia[0].id_noticias %></td>
          <td><%= noticia[0].titulo %></td>
          <td><%= noticia[0].noticias %></td>
        </tr>
    </table>
</body>
</html>